<%- include('header'); -%>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FOOD Item</title>
</head>
<body style=" background-image : url('https://cdn1.vectorstock.com/i/1000x1000/03/40/green-heart-pattern-seamless-vector-14850340.jpg');">
  <div class="page-header text-center">
    <h1 class="feedTitle" style="color:#3f9f22;font-family:'Franklin Gothic Medium';font-size:3.0em;"><span class="fa fa-heart-o"></span> Food Item</h1>
    <a style="border:2px solid #3db0a671;font-size: 1.5em; font-family:'Franklin Gothic Medium'; background-color:rgba(169, 252, 206, 0.753);
    color:#3f9f22" class="btn btn-default" href="/feed">Store</a>
    <a style="border:2px solid #3db0a671;font-size: 1.5em; font-family:'Franklin Gothic Medium'; background-color:rgba(169, 252, 206, 0.753);
    color:#3f9f22"class="btn btn-default " href="/profile">Profile</a>
    <a style="border:2px solid #3db0a671;font-size: 1.5em; font-family:'Franklin Gothic Medium'; background-color:rgba(169, 252, 206, 0.753);
    color:#3f9f22"href="/logout" class="btn btn-default ">Logout</a>
  </div>
  <div class="container" >
  
    <div class="row">
  
        <!-- LOCAL INFORMATION -->
        
        <div >
          <ul  style="list-style-type:none;margin-left:35%">
          <% for(var i=0; i<posts.length; i++) {%>
            <li>
              <a href="/post/<%= posts[i]._id%>">
                <img style="margin-left:-10px;height:250px;" src="/<%= posts[i].imgPath%>">      
              </a>
              <span> <%- posts[i].caption %></span>
  
              <a  style="border:2px solid #3db0a671;font-size: 1.5em; font-family:'Franklin Gothic Medium'; background-color:rgba(169, 252, 206, 0.753);
              color:#3f9f22;" href="/payement"  id ="payB" class="btn btn-default">Order now
              </a>
             
                <!-- <span><a class="user" href="/profile/<%= posts[i].posterId%>">Restaurant </a></span> -->
  
              
         
            </li>
          <% } %>
          </ul>
  
  
       
  
  </div>
</body>
</html>

<%- include('footer'); -%>
